body {
  margin: 0px;
}

#title {
  width: fit-content;
  margin: 0 auto;
  padding: 5px;
}

.container {
  /* border: 1px solid black; */
  margin: 1% 1%;
}

#displayController {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#topBar,
#bottomBar {
  display: flex;
  width: 100%;
}

#topBar {
  justify-content: space-evenly;
}

#bottomBar {
  justify-content: center;
}

#playersContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#player1display,
#player2display {
  margin: auto;
  padding: 10px;
}

#turnDisplayer {
  justify-content: center;
  align-items: center;
}

#markerSelect {
  display: flex;
  width: 250px;
  justify-content: space-between;
}

button {
  background-color: rgba(192, 192, 192);
  width: 100px;

  border: 1px solid black;
  border-radius: 5px;

  font-size: 16px;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
  border-color: white;
}

button:active {
  cursor: pointer;
  background-color: rgba(192, 192, 192, 0.8);
  transform: translateY(1px);
}

.buttonPressed {
  background-color: rgba(192, 192, 192, 0.8);
  transform: translateY(1px);
}

#gameBoard {
  background-color: black;
  margin: 1% auto;
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 3px 3px;
}

.gridSquare {
  background-color: silver;
  width: 100%;
  height: 100%;
  justify-self: center;
  align-self: center;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 32px;
  font-weight: bold;

  user-select: none;
}

.gridSquare:hover {
  cursor: pointer;
}

.modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: auto;
  height: 100%;
  width: 100%;
  animation-name: openModal;
  animation-duration: 750ms;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: silver;
  margin: 10% auto;
  width: 500px;
  height: 250px;
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  border-radius: 5px;
}

@keyframes openModal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
